@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CS460 Homework5</h1>
    <p class="lead">CS460 Homework5</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create Your Request</h2>
        <p>
           
        </p>
       <h3>@Html.ActionLink("Create Your Request", "Requests", "Request") </h3>
    </div>
    <div class="col-md-4">
        <h2>Request List</h2>

        <h3>@Html.ActionLink("Request List", "Index", "Request")</h3>
    </div>
    
</div>